{{#section 'css'}}
	.topic {
		background-color: orange;
	}
{{/section}}

<div class = "entry">
<h1>{{title}}</h1>
<div class = "body">
{{content}}

<div class="topic">
	<a href="/list">Topic 1</a><br>
	25 posts |
	13 replies |
	5 unread posts/replies
</div>


</div>
</div>