<navigation></navigation>
	<div id="pp-forumContainer">
		<div class="pp-post">
			<!--Post Heading -->
			<div class="pp-head pp-post">
				<div class="pp-title pp-post">
					{{vm.data.title}}
					content.posts.[0].title
				</div>
				<div class="pp-editButton pp-post">
					Edit
				</div>
			</div>

			<!--Poster and Poster's Content -->
			<div class="pp-contentContainer pp-post">
				<div class="pp-info pp-post">
					<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="100px" height="100px" /><br>
					<span>content.posts.[0].poster</span>
				</div>
				<div class="pp-content pp-post">
					content.posts.[0].content
					{{vm.data}}
				</div>
			</div>

			<!--Reply Button -->
			<div class="pp-footer pp-post">
				<div class="pp-replyButton">
					<button ng-click="vm.addReplyModal()">
						Reply
					<button>
				</div>
				<div class="pp-reflectButton">
					Reflection
				</div>

				<!--Reflection Space-->
				<div class="pp-reflection pp-post">
					<div class="pp-reflectionSpacer"></div>
					<div class="pp-reflectionChecklistContainer">
						<div class="pp-checklistTitle">
							Assignment Checklist
						</div>
						<div>
							<ul class="pp-checklist">
								<li>content.posts.[0].reflection.checklist.[0] <input type="checkbox" checked onclick="this.checked=!this.checked;"></li>
								<li>content.posts.[0].reflection.checklist.[2] <input type="checkbox" checked onclick="this.checked=!this.checked;"></li>
								<li>content.posts.[0].reflection.checklist.[4] <input type="checkbox" checked onclick="this.checked=!this.checked;"></li>
							</ul>
						</div>
					</div>
					<div class="pp-studentReflectionContainer">
						<div class="pp-selfReflectionTitle">
							Self-reflection Summary
						</div>
						<div>
							content.posts.[0].reflection.studentSummary
						</div>
					</div>
					<div class="pp-teacherFeedbackContainer">
						<div class="pp-teacherFeedbackTitle">
							Teacher Feedback
						</div>
						<div class="pp-teacherFeedback">
							content.posts.[0].reflection.teacherFeedback
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="pp-repliesContainer">


		STATIC REPLIES/////////////////////////////////////////////////
			<div class="pp-reply">
				<!-- Reply Heading -->
				<div class="pp-head pp-reply">
					<div class="pp-title pp-reply">
						content.posts.[0].replies.[0].title
					</div>
					<div class="pp-editButton">
						Edit
					</div>
				</div>

				<!-- Replier and Replier's Content -->
				<div class="pp-contentContainer pp-reply">
					<div class="pp-info pp-reply">
						<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png"/ width="100px" height="100px"><br>
						<span>content.posts.[0].replies.[0].name</span>
					</div>
					<div class="pp-content pp-reply">
						content.posts.[0].replies.[0].reply
					</div>
				</div>

				<!-- Reply Button -->
				<div class="pp-footer pp-reply">
					<div class="pp-replyButton">
						<button ng-click="vm.addReply(data.id)">
						Reply
						</button>
					</div>
				</div>
			</div>

			<div class="pp-reply2">
				<!-- Reply Heading -->
				<div class="pp-head pp-reply">
					<div class="pp-title pp-reply">
						content.posts.[0].replies.[1].title
					</div>
					<div class="pp-editButton pp-reply">Edit</div>
				</div>

				<!-- Replier and Replier's Content -->
				<div class="pp-contentContainer pp-reply">
					<div class="pp-info pp-reply">
						<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png"/ width="100px" height="100px"><br>
						<span>content.posts.[0].replies.[1].name</span>
					</div>
					<div class="pp-content pp-reply">
						content.posts.[0].replies.[1].reply
					</div>
				</div>

				<!-- Reply Button -->
				<div class="pp-footer pp-reply">
					<div class="pp-replyButton">Reply</div>
				</div>
			</div>
			/////////////////////////////DYNAMIC REPLIES

			<div class="pp-reply" ng-repeat="reply in vm.data.replies">
				<!-- Reply Heading -->
				<div class="pp-head pp-reply">
					<div class="pp-title pp-reply">
						{{reply.title}}
					</div>
					<div class="pp-editButton">
						Edit
					</div>
				</div>

				<!-- Replier and Replier's Content -->
				<div class="pp-contentContainer pp-reply">
					<div class="pp-info pp-reply">
						<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png"/ width="100px" height="100px"><br>
						<span>content.posts.[0].replies.[0].name</span>
					</div>
					<div class="pp-content pp-reply">
						{{reply.content}}
						{{reply._id}}
					</div>
				</div>

				<!-- Reply Button -->
				<div class="pp-footer pp-reply">
					<div class="pp-deleteButton">
						<button ng-click="vm.deleteReply(reply._id)">DELETE</button>
					</div>
					<div class="pp-replyButton">
						<button ng-click="vm.addReply(data.id)">
						Reply
						</button>

					</div>
				</div>
			</div>

		</div>
	</div>

